In [1]:
import tensorflow as tf
import pandas as pd 
import numpy as np
import pickle
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder

In [2]:
data=pd.read_csv('Churn_Modelling.csv')

In [3]:
data=data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [7]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
one_hot_encoder_geo=OneHotEncoder()
encoded_geo=one_hot_encoder_geo.fit_transform(data[['Geography']]).toarray()
encoded_geo_df=pd.DataFrame(encoded_geo,columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [9]:
new_data=pd.concat([data.drop(['Geography'],axis=1),encoded_geo_df],axis=1)

In [10]:
new_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [11]:
X=new_data.drop(['EstimatedSalary'],axis=1)
y=new_data['EstimatedSalary']

In [12]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.20)

In [15]:
scaler=StandardScaler()

In [16]:
X_train=scaler.fit_transform(X_train)

In [17]:
X_test=scaler.transform(X_test)

In [18]:
with open('StandardScaler.pkl','wb') as file:
    pickle.dump(scaler,file)

with open('OneHotEncoder.pkl','wb') as file:
    pickle.dump(one_hot_encoder_geo,file)

with open('LabelEncoder.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

# Ann Regression

In [19]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [21]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

In [22]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [23]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [27]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [29]:
history=model.fit(
    X_train,y_train,
    validation_data=[X_test,y_test],
    callbacks=[early_stopping_callback,tensorboard_callback],
    epochs=100
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 7ms/step - loss: 100383.0469 - mae: 100383.0469 - val_loss: 98535.4766 - val_mae: 98535.4766
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 99677.9375 - mae: 99677.9375 - val_loss: 97086.8281 - val_mae: 97086.8281
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 97128.6406 - mae: 97128.6406 - val_loss: 93277.4688 - val_mae: 93277.4688
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 91947.5469 - mae: 91947.5469 - val_loss: 86742.7812 - val_mae: 86742.7812
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 84262.5781 - mae: 84262.5781 - val_loss: 78209.3828 - val_mae: 78209.3828
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 75173.6797 - mae: 75173.6797 - val_loss: 69319.5391 - val_mae: 69319.5391
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 66295.1875 - mae: 66295.1875 - val_loss: 61463.9844 - val_mae: 61463.9844
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 59184.2617 - mae: 59184.2617 - val_loss: 55866.7891 - val_mae: 55866.7891
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 54538.1445 - mae: 54538.1445 - val_loss: 52750.4297 - val_mae: 52750.4297
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 52115.5312 - mae: 52115.5312 - val_loss: 51377.3320 - val_mae: 51377.3320
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51055.1211 - mae: 51055.1211 - val_loss: 50882.8398 - val_mae: 50882.8398
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50610.0234 - mae: 50610.0234 - val_loss: 50719.0898 - val_mae: 50719.0898
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50405.6055 - mae: 50405.6055 - val_loss: 50643.0391 - val_mae: 50643.0391
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50290.6484 - mae: 50290.6484 - val_loss: 50605.1992 - val_mae: 50605.1992
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50209.7266 - mae: 50209.7266 - val_loss: 50583.9414 - val_mae: 50583.9414
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 50150.9688 - mae: 50150.9688 - val_loss: 50558.2773 - val_mae: 50558.2773
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50098.1602 - mae: 50098.1602 - val_loss: 50525.1641 - val_mae: 50525.1641
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50054.9102 - mae: 50054.9102 - val_loss: 50502.3398 - val_mae: 50502.3398
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50020.6289 - mae: 50020.6289 - val_loss: 50477.3086 - val_mae: 50477.3086
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49990.0664 - mae: 49990.0664 - val_loss: 50448.2227 - val_mae: 50448.2227
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49953.8945 - mae: 49953.8945 - val_loss: 50433.6250 - val_mae: 50433.6250
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49929.8633 - mae: 49929.8633 - val_loss: 50417.3945 - val_mae: 50417.3945
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49898.0664 - mae: 49898.0664 - val_loss: 50403.6875 - val_mae: 50403.6875
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49874.1250 - mae: 49874.1250 - val_loss: 50396.7188 - val_mae: 50396.7188
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49849.4375 - mae: 49849.4375 - val_loss: 50379.5898 - val_mae: 50379.5898
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49826.2734 - mae: 49826.2734 - val_loss: 50365.3359 - val_mae: 50365.3359
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49805.5547 - mae: 49805.5547 - val_loss: 50352.3672 - val_mae: 50352.3672
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49785.8711 - mae: 49785.8711 - val_loss: 50352.1367 - val_mae: 50352.1367
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49769.2539 - mae: 49769.2539 - val_loss: 50341.9688 - val_mae: 50341.9688
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49751.7109 - mae: 49751.7109 - val_loss: 50336.7266 - val_mae: 50336.7266
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49735.5430 - mae: 49735.5430 - val_loss: 50330.1602 - val_mae: 50330.1602
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49721.4375 - mae: 49721.4375 - val_loss: 50322.2812 - val_mae: 50322.2812
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49706.8438 - mae: 49706.8438 - val_loss: 50324.0195 - val_mae: 50324.0195
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49691.7305 - mae: 49691.7305 - val_loss: 50318.5078 - val_mae: 50318.5078
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49679.9844 - mae: 49679.9844 - val_loss: 50317.7734 - val_mae: 50317.7734
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49669.1484 - mae: 49669.1484 - val_loss: 50321.6992 - val_mae: 50321.6992
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49658.9570 - mae: 49658.9570 - val_loss: 50317.5859 - val_mae: 50317.5859
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49645.3438 - mae: 49645.3438 - val_loss: 50310.5859 - val_mae: 50310.5859
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49636.5664 - mae: 49636.5664 - val_loss: 50310.5586 - val_mae: 50310.5586
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49627.1133 - mae: 49627.1133 - val_loss: 50304.5664 - val_mae: 50304.5664
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49615.7305 - mae: 49615.7305 - val_loss: 50299.6875 - val_mae: 50299.6875
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49607.4258 - mae: 49607.4258 - val_loss: 50297.7617 - val_mae: 50297.7617
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49594.7734 - mae: 49594.7734 - val_loss: 50298.0195 - val_mae: 50298.0195
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49591.7148 - mae: 49591.7148 - val_loss: 50284.0273 - val_mae: 50284.0273
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49578.5391 - mae: 49578.5391 - val_loss: 50287.0898 - val_mae: 50287.0898
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49572.1953 - mae: 49572.1953 - val_loss: 50296.2852 - val_mae: 50296.2852
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49564.8945 - mae: 49564.8945 - val_loss: 50281.7852 - val_mae: 50281.7852
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49558.0039 - mae: 49558.0039 - val_loss: 50279.3203 - val_mae: 50279.3203
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49547.2891 - mae: 49547.2891 - val_loss: 50275.3711 - val_mae: 50275.3711
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49539.7695 - mae: 49539.7695 - val_loss: 50288.8203 - val_mae: 50288.8203
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49533.3945 - mae: 49533.3945 - val_loss: 50285.7852 - val_mae: 50285.7852
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49525.4922 - mae: 49525.4922 - val_loss: 50296.1211 - val_mae: 50296.1211
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49518.0352 - mae: 49518.0352 - val_loss: 50302.0273 - val_mae: 50302.0273
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49513.6992 - mae: 49513.6992 - val_loss: 50301.9688 - val_mae: 50301.9688
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49506.0586 - mae: 49506.0586 - val_loss: 50282.0664 - val_mae: 50282.0664
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49496.2930 - mae: 49496.2930 - val_loss: 50300.2773 - val_mae: 50300.2773
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49490.6367 - mae: 49490.6367 - val_loss: 50292.9023 - val_mae: 50292.9023
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49483.5898 - mae: 49483.5898 - val_loss: 50287.3047 - val_mae: 50287.3047
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49477.6992 - mae: 49477.6992 - val_loss: 50277.8945 - val_mae: 50277.8945

In [30]:
model.save('regresssionModel.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [31]:
test_loss,test_mae=model.evaluate(X_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 50275.3711 - mae: 50275.3711

In [32]:
test_loss

50275.37109375

In [33]:
test_mae

50275.37109375